body {
  height: 3000px;
}

.container {
  background-color: gray;
  height: 180px;
  width: 320px;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.close-btn {
  background-color: black;
  color: white;
  top: -20px;
  left: -20px;
  padding: 10px 14px;
  position: absolute;
  border-radius: 99px;
  font-family: arial;
}

.time {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: black;
  color: white;
  font-family: arial;
  padding: 2px 6px;
  font-size: 14px;
}
