button {
  background-color: black;
  color: white;
  border: none;
  font-size: 14px;
  font-weight: 600;
  height: 40px;
  width: 120px;
  transition: all 0.15s;
  cursor: pointer;
}
button:hover {
  opacity: 0.8;
}
