.container {
  background-color: blueviolet;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  margin: 5px;
}

p {
  font-family: arial;
  margin-top: 0;
  margin-bottom: 0;
  color: white;
  font-weight: bold;
}

.left {
  padding: 6px 12px;
  margin-left: 5px;
  display: flex;
}

.mid {
  padding: 6px 12px;
  display: flex;
}
input {
  border: none;
  padding: 4px 8px;
  font-size: 16px;
  border-radius: 20px;
  width: 600px;
}

.right {
  padding: 6px 12px;
}
button {
  background-color: transparent;
  border: 1px solid white;
  font-size: 16px;
  padding: 4px 8px;
  color: white;
  font-weight: 700;
}
