p {
  font-family: montserrat;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.judul {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 10px;
}

.underline {
  text-decoration: underline;
  transition: all 0.15s;
}
.underline:hover {
  cursor: pointer;
}
